.linesClearedText {
	position: absolute;
	top: var(--border-width);
	right: calc(var(--border-width) * 2);
	height: calc(var(--board-height) / var(--row-count));
	width: calc(var(--board-width) / var(--column-count));
	max-height: calc(var(--max-board-height) / var(--row-count));
	max-width: calc(var(--max-board-width) / var(--column-count));
	font-weight: 700;
}
