.boardWrapper {
	position: relative;
	height: var(--board-height);
	width: var(--board-width);
	max-height: var(--max-board-height);
	max-width: var(--max-board-width);
}

.boardWrapper:focus-visible {
	outline: none;
}

.board,
.boardShadow {
	position: absolute;
	inset: 0;
	bottom: var(--border-width);
	border-radius: var(--board-border-radius);
}

.board {
	display: flex;
	flex-direction: column;
	border: var(--border-width) solid var(--border-color);
	background-color: white;
	overflow: hidden;
}

.board > div:first-child {
	margin-top: -0.35rem;
}

.boardShadow {
	border-radius: calc(var(--board-border-radius) * 1.5);
	background-color: black;
	z-index: -1;
	bottom: -0.125rem;
	right: -0.375rem;
}
