.app {
	--column-count: 10;
	--row-count: 20;
	--board-padding: 1rem;
	--board-height: calc(100dvh - var(--board-padding));
	--board-width: calc(100dvw - var(--board-padding));
	--max-board-height: calc(
		var(--row-count) * (var(--board-width) / var(--column-count))
	);
	--max-board-width: calc(
		var(--column-count) * (var(--board-height) / var(--row-count))
	);
	--board-border-radius: 1rem;
	--border-color: black;
	--border-width: 0.25rem;
	--block-border-offset: calc(var(--border-width) / 2);

	--i-piece-color: #cee4fe;
	--j-piece-color: #5652ff;
	--l-piece-color: #fe8378;
	--o-piece-color: #ffc701;
	--s-piece-color: #12a858;
	--t-piece-color: #a85df6;
	--z-piece-color: #f64d1f;

	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100dvh;
	width: 100dvw;
	overflow: hidden;
	background-color: #e8e6e0;
}
